<!DOCTYPE html>
<html lang="en">
 {% load static %}
<head>
    <title>토마루</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./static/css/com-style.css">
    <link rel="stylesheet" type="text/css" href="./static/css/board-css.css">
</head>
<body>
<div class = "header">
        <div class = "header bimg">
            <div class="header t1">
                <a href="http://127.0.0.1:8000">
                    <img style="height: 70%; width : 70%; object-fit: contain "
                         src="/static/img/to.png">
                </a></div>
            <div class="header t2">
                <div class="topnav">
                    <h2>
                        <a href="#">팀원 소개</a>
                        <a href="#">안내</a>
                        <a href="#">공지 사항</a>
                        <a href="http://127.0.0.1:8000/market">직거래</a>
                        <a href="http://127.0.0.1:8000/freeboard">커뮤니티</a>
                </h2></div>
            </div>
            <ul class="header t3">
                <li style="display:inline; font-size: 0px">
                    <a href=" ">
                        <img src="https://cdn-icons-png.flaticon.com/512/591/591788.png" alt="언어" width="35" height="35">
                    </a></li>
                <li style="display:inline; font-size: 20px">&nbsp;&nbsp;</li>
                <li style="display:inline; font-size: 0px">
                    <a href="http://127.0.0.1:8000/login">
                        <img src="https://cdn-icons-png.flaticon.com/512/860/860784.png" alt="로그인/회원가입" width="35" height="35">
                    </a></li></ul></div></div>

<div style=" z-index: 2; background: #818182">
    <aside id ="left">
        <h2 style="background: white">카테고리</h2>
        <ul style="background: white; list-style: none; margin: 0; padding: 10px;">
            <li><h2 target="ifame1" href="#">공지사항</h2></li>
            <li><h2 target="ifame1" href="#">이달의 소식</h2></li>
            <li><h2 target="ifame1" href="http://127.0.0.1:8000/freeboard">자유게시판</h2></li>
            <li><h2 target="ifame1" href="#">신문고</h2></li>

        </ul>
    </aside>
</div>

<section id="main">
    <article id="article1">
        <div class="board_wrap">
            <div class="board_title">
                <strong>자유게시판</strong>
                <p>자유롭게 글작성해보세요.</p>
            </div>
            <div class="board_write_wrap">
                <div class="board_write">
                    <div class="title">
                        <dl>
                            <dt>제목</dt>
                            <dd><input type="text" placeholder="제목 입력"></dd>
                        </dl>
                    </div>
                    <div class="info">
                        <dl>
                            <dt>글쓴이</dt>
                            <dd><input type="text" placeholder="글쓴이 입력"></dd>
                        </dl>
                        <dl>
                            <dt>비밀번호</dt>
                            <dd><input type="password" placeholder="비밀번호 입력"></dd>
                        </dl>
                    </div>
                    <div class="info">
                        <dl>
                            <form>
                                <dt>사진 선택</dt>
                                <dd><input type="file" onchange="previewImage(event)"></dd>
                                <br>
                                <dl>
                                    <img width="200px" height="100px" id="preview" src="#" alt="이미지 미리보기">
                                </dl>
                            </form>
                        </dl>
                    </div>
                    <div class="cont">
                        <textarea placeholder="내용 입력"></textarea>
                    </div>
                </div>
                <div class="bt_wrap">
                    <a href="view" class="on">등록</a>
                    <a href="http://127.0.0.1:8000/freeboard">취소</a>
                </div>
            </div>
        </div>
    </article>
</section>

<div class="footer">
    <h3>&nbsp;&nbsp;&nbsp;프로젝트 이름</h3>
    <p>
        &nbsp;호서 대학교
        &nbsp;컴퓨터 공학부&nbsp;
        &nbsp;웹 하자(WebDo) 팀: ㅇㅎㅈ, ㅅㅎㅈ&nbsp;
        &nbsp;이메일 : 추가@바람.com&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&Copyright 2023, All Right Reserved.&nbsp;</spam>
    </p>
</div>
<script>
    function previewImage(event) { /*이미지 미리보기?*/
        var preview = document.getElementById('preview');
        preview.src = URL.createObjectURL(event.target.files[0]);
    }
     var firebaseConfig = {
          apiKey: "AIzaSyCunQjLi23bBAybA97IFMaIrXUwuJSV8mM",
          authDomain: "wepdo-7bed1.firebaseapp.com",
          databaseURL: "https://wepdo-7bed1-default-rtdb.firebaseio.com",
          projectId: "wepdo-7bed1",
          storageBucket: "wepdo-7bed1.appspot.com",
          messagingSenderId: "204948006692",
          appId: "1:204948006692:web:bbb863d7032ddbbf64b5b1",
          measurementId: "G-7NQSDSFC61"
      };
      firebase.initializeApp(firebaseConfig);
</script>
<script>
    const db = firebase.firestore(); // db문법 소환
    const storage = firebase.storage(); // 스토리지 문법 소환

    $('#send').click(function (){

        var file = document.querySelector('#image').files[0];
        var storageRef = storage.ref();
        var 저장할경로 = storageRef.child('/image/' + file.name);
        var 업로드작업 = 저장할경로.put(file)
    })

    $('#send').click(function(){
        var 저장할거 = {
            제목 : $('#title').val(),
            가격 : $('#price').val(),
            내용 : $('#content').val(),
            날짜 : new Date(),
        }
        db.collection('product').add(저장할거)
            .then((result)=>{
            }).catch((error)=>{
        })
    });

</script>
</body>
</html>