<!DOCTYPE html>
<html lang="en">
 {% load static %}
<head>
    <title>토마루</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./static/css/com-style.css">
    <link rel="stylesheet" type="text/css" href="./static/css/board-css.css">
</head>
<body>
<div class = "header">
        <div class = "header bimg">
            <div class="header t1">
                <a href="http://127.0.0.1:8000">
                    <img style="height: 70%; width : 70%; object-fit: contain "
                         src="/static/img/to.png">
                </a></div>
            <div class="header t2">
                <div class="topnav">
                    <h2>
                        <a href="#">팀원 소개</a>
                        <a href="#">안내</a>
                        <a href="#">공지 사항</a>
                        <a href="http://127.0.0.1:8000/market">직거래</a>
                        <a href="http://127.0.0.1:8000/freeboard">커뮤니티</a>
                </h2></div>
            </div>
            <ul class="header t3">
                <li style="display:inline; font-size: 0px">
                    <a href=" ">
                        <img src="https://cdn-icons-png.flaticon.com/512/591/591788.png" alt="언어" width="35" height="35">
                    </a></li>
                <li style="display:inline; font-size: 20px">&nbsp;&nbsp;</li>
                <li style="display:inline; font-size: 0px">
                    <a href="http://127.0.0.1:8000/login">
                        <img src="https://cdn-icons-png.flaticon.com/512/860/860784.png" alt="로그인/회원가입" width="35" height="35">
                    </a></li></ul></div></div>

<div style=" z-index: 2; background: #818182">
    <aside id ="left">
        <h2 style="background: white">카테고리</h2>
        <ul style="background: white; list-style: none; margin: 0; padding: 10px;">
            <li><h2 target="ifame1" href="#">공지사항</h2></li>
            <li><h2 target="ifame1" href="#">이달의 소식</h2></li>
            <li><h2 target="ifame1" href="http://127.0.0.1:8000/freeboard">자유게시판</h2></li>
            <li><h2 target="ifame1" href="#">신문고</h2></li>

        </ul>
    </aside>
</div>

    <section id="main">
        <article id="article1">
            <div class="board_wrap">
                <div class="board_title">
                    <strong>자유게시판</strong>
                    <p>자유롭게 글작성해보세요.</p>
                </div>
                <div class="board_list_wrap">
                    <div class="board_list">
                        <div class="top">
                            <div class="num">번호</div>
                            <div class="title">제목</div>
                            <div class="writer">글쓴이</div>
                            <div class="date">작성일</div>
                            <div class="count">조회</div>
                        </div>
                    </div>
                    <div class="board_page">
                        <a href="#" class="bt first">&lt;&lt;</a>
                        <a href="#" class="bt prev">&lt;</a>
                        <a href="#" class="num on">1</a>
                        <a href="#" class="num">2</a>
                        <a href="#" class="num">3</a>
                        <a href="#" class="num">4</a>
                        <a href="#" class="num">5</a>
                        <a href="#" class="bt next">&gt;</a>
                        <a href="#" class="bt last">&gt;&gt;</a>
                    </div>
                    <div class="bt_wrap">
                        <a href="http://127.0.0.1:8000/fb_write" class="on">등록</a>
                        <!--<a href="#">수정</a>-->
                    </div>
                </div>
            </div>
        </article>
    </section>

    <div class="footer">
        <h3>&nbsp;&nbsp;&nbsp;프로젝트 이름</h3>
        <p>
            &nbsp;호서 대학교
            &nbsp;컴퓨터 공학부&nbsp;
            &nbsp;웹 하자(WebDo) 팀: ㅇㅎㅈ, ㅅㅎㅈ&nbsp;
            &nbsp;이메일 : 추가@바람.com&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&Copyright 2023, All Right Reserved.&nbsp;</spam>
        </p>
    </div>

<script>
    var firebaseConfig = {
        apiKey: "AIzaSyCunQjLi23bBAybA97IFMaIrXUwuJSV8mM",
        authDomain: "wepdo-7bed1.firebaseapp.com",
        databaseURL: "https://wepdo-7bed1-default-rtdb.firebaseio.com",
        projectId: "wepdo-7bed1",
        storageBucket: "wepdo-7bed1.appspot.com",
        messagingSenderId: "204948006692",
        appId: "1:204948006692:web:bbb863d7032ddbbf64b5b1",
        measurementId: "G-7NQSDSFC61"
    };
    firebase.initializeApp(firebaseConfig);
</script>
<script>
    const db = firebase.firestore(); // db문법 소환

    db.collection('product').get().then((결과)=>{
        결과.forEach((doc)=>{
            console.log(doc.data());

            var list = `    <div>
                            <div class="num">1</div>
                            <div class="title"><a href="http://127.0.0.1:8000/view">${doc.data().제목}</a></div>
                            <div class="writer">ㅎㅇ</div>
                            <div class="date">${dateString}</div>
                            <div class="count">${doc.data().조회수}</div>
                            </div>`;
            $('.board_list').append(list);

            // 아래코드들은 조회수 +1 하고 해당 링크로 이동시키는 코드
            $('.board_list').on('click', '.title a', function(event) {
                event.preventDefault(); // 기본 동작 취소

                const postId = $(this).closest('div').find('.count'); // 게시글의 count 요소

                // 해당 게시글의 '조회수' 필드를 1 증가시킴
                db.collection('product').doc(doc.id).update({
                    조회수: firebase.firestore.FieldValue.increment(1)
                })
                    .then(() => {
                        postId.text(parseInt(postId.text()) + 1); // count 값을 1 증가시킴
                        window.location.href = $(this).attr('href');
                    })
                    .catch((error) => {
                        console.error('Error updating document: ', error);
                    });
            });
        });
    });

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>