<html lang="ko">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="theme-color" content="#712cf9">
    <title>농밀</title>
    <link rel="stylesheet" type="text/css" href="static/css/newcom-style.css">
    <link rel="stylesheet" type="text/css" href="static/css/board-css.css">
    <link rel="canonical" href="https://getbootstrap.kr/docs/5.2/examples/carousel/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center"
         style="font-size: 1.4rem; background-size: cover; background-position: center; background-repeat: no-repeat;
         background-image: url('static/img/san.png'); width : auto; height: 400px">
        <header class="p-3 text" style="font-size: 1.4rem; background-color:transparent;">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use href="#bootstrap"></use></svg>
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="http://127.0.0.1:8000" class="nav-link px-2 text-secondary">홈</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">안내</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">공지사항</a></li>
                        <li><a href="market.html" class="nav-link px-2 text-white">직거래</a></li>
                        <li><a href="freeboard.html" class="nav-link px-2 text-white">커뮤니티</a></li>
                    </ul>

                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                        <input type="search" class="form-control form-control-dark text-bg-light" placeholder="Search..." aria-label="Search">
                    </form>

                    <div class="text-end">
                        <button type="button" class="btn btn-outline-light me-2" onclick="location.href='login.html'">로그인</button>
                        <button type="button" class="btn btn-warning" onclick="location.href='jtm.html'">회원가입</button>
                        <button type="button" class="btn btn-primary" onclick="location.href='mypage.html'">마이페이지</button>
                    </div>
                </div>
            </div>
        </header>
        <div class="col-md-5 p-lg-5 mx-auto my-5" style="float: right">
            <h1 class="display-4 fw-normal text-white" style="text-align: left">따뜻한 공사</h1>
            <h1 class="display-4 fw-normal text-white" style="text-align: left">합리적인 공사</h1>
            <h1 class="display-4 fw-normal text-white" style="text-align: left">공사 진행중 입니다</h1>
            <p class="lead fw-normal text-white" style="text-align: left">현재 여기는 새로운 ui를 위해 공사중 입니다.</p>
            <a class="btn btn-outline-secondary" style="text-align: left" href="#">Coming soon</a>
        </div>
    </div>
    <!-- 위는 네비 아래는 큰 이미지 예정-->
    <div class="container marketing" style="padding-top: 50px" style="font-size: 1.4rem">
        <div class="row featurette" style="height: 500px">
            <div class="col-md-5 order-md-1" style="padding: 20px">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" style="font-size: 1.4rem" href="#공지사항" aria-selected="true" role="tab">공지사항</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" style="font-size: 1.4rem" href="#자유게시판" aria-selected="false" role="tab" tabindex="-1">자유게시판</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active show" id="공지사항" role="tabpanel">
                        <p style="font-size: 1.4rem">공지사항 테스트 예정</p>
                    </div>
                    <div class="tab-pane fade" id="자유게시판" role="tabpanel">
                        <div class="miniboard" style="width: auto; height: auto;">
                            <div class="mb_header">
                                <h1 class="mb_title">자유 게시판</h1>
                                <a onclick="location.href='freeboard.html'" class="mb_button">바로가기</a>
                            </div>
                            <div class="mb_post">
                                <h2>게시글 제목</h2>
                                <p>게시글 내용이 들어갑니다.</p>
                                <div class="mb_post-footer">
                                    <div class="mb_post-date">작성일: 2023-04-28</div>
                                    <div class="mb_post-comments">댓글 3개</div>
                                </div>
                            </div>
                            <div class="mb_post">
                                <h2>게시글 제목</h2>
                                <p>게시글 내용이 들어갑니다.</p>
                                <div class="mb_post-footer">
                                    <div class="mb_post-date">작성일: 2023-03-02</div>
                                    <div class="mb_post-comments">댓글 0개</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="api" class="col-md-7 order-md-2" style="padding: 20px">
                <h3 target="ifame1" href="#"></h3>
                <h2 style="text-align: center">
                    <form method="GET" action="{% url 'check_price' %}">
                        <label for="search_date">검색 날짜:</label>
                        <input type="text" id="search_date" name="search_date" placeholder="ex)YYYYMMDD" required>
                        <label for="item">검색어:</label>
                        <input type="text" id="item" name="item" placeholder="ex)배추" required>
                        <input id="search" type="submit" value="검색">
                    </form></h2>
                <div id="print" style="padding-top: 20px; height: 3vw; width: auto; border: 2px solid red;">
                    <h3>{% if avg_total_price %}
                        <p style="text-align: center">해당 {{ search_date }} 날짜의 {{ item }}의 평균 가격은 {{ avg_total_price }}원 입니다.</p>
                        <p>{{ runtime }}</p>
                    {% endif %}</h3>
                </div>
                <div style=" text-align: center">
                    <img style="width: 650px; height: 350px" src=" https://hleecaster.com/wp-content/uploads/2019/08/02.png" alt="grape">
                </div>
            </div>
            <script>
                $('search').on('click', function () {
                    $('api').load(window.location.href = 'home.html'+'api');
                })
            </script>
        </div>


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette" style="height: 500px">
            <div class="col-md-8" style="padding: 20px">
                <div style="padding: 20px; width: auto; text-align: right" >
                    <button type="button" class="btn btn-primary" style="display: inline-block" onclick="location.href='market.html'">직거래 바로가기</button>
                </div>
                <div class="box">
                    <div id="tab" class="tab">
                        <ul>
                            <li class=""><a href="#" ><img style="width: 250px; height: 250px; border-radius: 30px;" src = "https://url.kr/q12uy3"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding: 20px">
                <h2 id="clock" style="color:black; text-align: center">clock</h2>
                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
                    </div>
                    <div class="carousel-inner" style="height:90%">
                        <div class="carousel-item active">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

                            <div class="container">
                                <div class="carousel-caption">
                                    <img style="max-width: 100%; height: 100%;  border-radius: 30px;" src="https://file.newswire.co.kr/data/datafile2/thumb_480/2022/10/2009132364_20221004184822_9718927867.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

                            <div class="container">
                                <div class="carousel-caption">
                                    <img style="max-width: 100%; height: 100%;  border-radius: 30px;" src="https://agro.seoul.go.kr/files/2022/04/6250f82ff03535.71902381.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

                            <div class="container">
                                <div class="carousel-caption">
                                    <img style="max-width: 100%; height: 100%;  border-radius: 30px;" src="https://www.modunong.or.kr:449/dummy/images/common/introduce_img01.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->
        <script>
            let slides = document.querySelector(".slides");
            let slideImg = document.querySelectorAll(".slides li");

            currentIdx = 0;
            slideCount = slideImg.length;
            prev = document.querySelector(".prev");
            next = document.querySelector(".next");
            slideWidth = 300;
            slideMargin = 100;

            makeClone();
            initfunction();

            function makeClone(){
                let cloneSlide_first = slideImg[0].cloneNode(true); //slideImg.firstElementChild.cloneNode(true);
                let cloneSlide_last = slides.lastElementChild.cloneNode(true);
                slides.append(cloneSlide_first);
                slides.insertBefore(cloneSlide_last,slides.firstElementChild);
            }

            function initfunction(){
                slides.style.width = (slideWidth + slideMargin) * (slideCount+2) + "px";
                slides.style.left = -(slideWidth + slideMargin) + "px";
            }

            next.addEventListener('click', function () {
                if (currentIdx <= slideCount-1) {
                    slides.style.left = -(currentIdx+2) * (slideWidth+slideMargin) + "px";
                    slides.style.transition = `${0.5}s ease-out`;
                }if (currentIdx === slideCount-1){
                    setTimeout(function(){
                        slides.style.left = -(slideWidth + slideMargin) + "px";
                        slides.style.transition = `${0}s ease-out`;
                    },500);
                    currentIdx = -1;
                }
                currentIdx+=1;
            }
            );

            prev.addEventListener('click', function () {
                console.log(currentIdx);
                if (currentIdx >= 0) {
                    slides.style.left = -(currentIdx) * (slideWidth + slideMargin) + "px";
                    slides.style.transition = `${0.5}s ease-out`;
                }if (currentIdx === 0){
                    setTimeout(function(){
                        slides.style.left = -(slideCount) * (slideWidth + slideMargin)+ "px";
                        slides.style.transition = `${0}s ease-out`;
                    },500);
                    currentIdx=slideCount;
                }
                currentIdx-=1;
                }
            );
        </script> <!-- 예전 농업 박람회 slide -->
        <script> <!-- 현재 시계 -->
        var Target = document.getElementById("clock");
        function clock() {
            var time = new Date();

            var year = time.getFullYear();
            var month = time.getMonth();
            var date = time.getDate();
            var day = time.getDay();
            var week = ['일', '월', '화', '수', '목', '금', '토'];

            var hours = time.getHours();
            var minutes = time.getMinutes();
            var seconds = time.getSeconds();

            Target.innerText =
                `${year}년 ${month + 1}월 ${date}일 ${week[day]}요일 ` +
                `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;

        }
        clock();
        setInterval(clock, 1000); // 1초마다 실행
        </script>
    </div>
    <div class="footer">
            <h3>&nbsp;&nbsp;&nbsp;프로젝트 이름</h3>
            <p>
                &nbsp;호서 대학교
                &nbsp;컴퓨터 공학부&nbsp;
                &nbsp;웹 하자(WebDo) 팀: ㅇㅎㅈ, ㅅㅎㅈ&nbsp;
                &nbsp;이메일 : 추가@바람.com&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&Copyright 2023, All Right Reserved.&nbsp;</spam>
            </p>
        </div>
</main>


<!-- Firebase SDK 스크립트 태그 -->
<!-- Firebase SDK 스크립트 태그 -->
<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-storage.js"></script>

<script>
    var firebaseConfig = {
        apiKey: "AIzaSyCunQjLi23bBAybA97IFMaIrXUwuJSV8mM",
        authDomain: "wepdo-7bed1.firebaseapp.com",
        databaseURL: "https://wepdo-7bed1-default-rtdb.firebaseio.com",
        projectId: "wepdo-7bed1",
        storageBucket: "wepdo-7bed1.appspot.com",
        messagingSenderId: "204948006692",
        appId: "1:204948006692:web:bbb863d7032ddbbf64b5b1",
        measurementId: "G-7NQSDSFC61"
    };
    firebase.initializeApp(firebaseConfig);

    const db = firebase.firestore(); // db문법 소환
    const storage = firebase.storage();

    db.collection('post').where("이미지", "!=", null)
        .limit(10).get().then((결과) => {
        결과.forEach((doc) => {
            console.log(doc.data().이미지);

            var list = `<li class=""><a href="#"><img style="width: 250px; height: 250px;" src="${doc.data().이미지}"></a></li>`;
            $('.tab ul').append(list);
        });
    });



    firebase.auth().onAuthStateChanged((user) => {
        if (user) {
            console.log(user.uid);
        }
    });
</script>
</body>
</html>