<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="theme-color" content="#712cf9">
    <title>농밀</title>
    <link rel="stylesheet" type="text/css" href="./static/css/newcom-style.css">
    <link rel="stylesheet" type="text/css" href="./static/css/market-style.css">
    <link rel="canonical" href="https://getbootstrap.kr/docs/5.2/examples/carousel/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center"
         style="font-size: 1.4rem; background-image: url('/static/img/san.png'); width : auto; height: 400px">
        <header class="p-3 text" style="font-size: 1.4rem; background-color:transparent;">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
                            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                        </a>

                        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                            <li><a href="http://127.0.0.1:8000" class="nav-link px-2 text-white">홈</a></li>
                            <li><a href="#" class="nav-link px-2 text-white">안내</a></li>
                            <li><a href="#" class="nav-link px-2 text-white">공지사항</a></li>
                            <li><a href="market.html" class="nav-link px-2 text-secondary">직거래</a></li>
                            <li><a href="freeboard.html" class="nav-link px-2 text-white">커뮤니티</a></li>
                        </ul>

                        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                            <input type="search" class="form-control form-control-dark text-bg-light" placeholder="Search..." aria-label="Search">
                        </form>

                        <div class="text-end">
                            <button type="button" class="btn btn-outline-light me-2" onclick="location.href='login.html'">로그인</button>
                            <button type="button" class="btn btn-warning" onclick="location.href='jtm.html'">회원가입</button>
                        </div>
                    </div>
                </div>
            </header>
        <div class="col-md-5 p-lg-5 mx-auto my-5" style="float: right">
            <h1 class="display-4 fw-normal text-white" style="text-align: left">따뜻한 공사</h1>
            <h1 class="display-4 fw-normal text-white" style="text-align: left">합리적인 공사</h1>
            <h1 class="display-4 fw-normal text-white" style="text-align: left">공사 진행중 입니다</h1>
            <p class="lead fw-normal text-white" style="text-align: left">현재 여기는 새로운 ui를 위해 공사중 입니다.</p>
            <a class="btn btn-outline-secondary" style="text-align: left" href="#">Coming soon</a>
        </div>
    </div>
    <!-- 위는 네비 아래는 큰 이미지 예정-->
    <div style=" z-index: 2; background: #818182">
        <div class="sidebar">
            <ul>
                <h2 style="text-align: center; padding : 10px">사이드 메뉴</h2>
                <li><a href="#">공지사항</a></li>
                <li><a href="market.html">직거래</a></li>
                <li><a href="auction.html">경매장</a></li>
                <li><a href="freeboard.html">자유게시판</a></li>
            </ul>
        </div>
    </div>
    <div class="container marketing" style="padding-top: 50px">

        <!-- Three columns of text below the carousel -->
         <div class="row featurette" style="height: auto">

             <section id="main">
                 <article id="article1">
                     <div class="board_wrap">
                         <div class="board_title">
                             <strong>거래게시판</strong>
                             <p>알잘딱</p>
                         </div>
                         <div class="board_list_wrap">
                             <div class="board_list">
                                 <div class="content_4_wrap">
                                     <div class="item_row">
                                         <div class="item">
                                             <img src="https://sistersgarden.org/data/file/1_19.jpg" style="border-radius: 12px; height: 200px; width:200px">
                                             <h2 class="item_name">사과 팜</h2>
                                             <h2 class="item_cost">25,000원</h2>
                                             <h1 class="item_place"></h1>
                                             <div class="like_chating">
                                                 <span class="like">관심 15</span>
                                                 <span>&nbsp;&nbsp;・&nbsp;&nbsp;</span>
                                                 <span class="chat">채팅 48</span>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="board_list_end"></div>
                             <div class="board_page">
                                 <a href="#" class="bt first">&lt;&lt;</a>
                                 <a href="#" class="bt prev">&lt;</a>
                                 <a href="#" class="num on">1</a>
                                 <a href="#" class="num">2</a>
                                 <a href="#" class="num">3</a>
                                 <a href="#" class="num">4</a>
                                 <a href="#" class="num">5</a>
                                 <a href="#" class="bt next">&gt;</a>
                                 <a href="#" class="bt last">&gt;&gt;</a>
                             </div>
                             <div class="bt_wrap">
                                 <a href="m_write.html" class="on">등록</a>
                                 <!--<a href="#">수정</a>-->
                             </div>
                         </div>
                     </div>
                 </article>
             </section>
         </div>
        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->


    <!-- FOOTER -->
    <div class="footer">
        <h3>&nbsp;&nbsp;&nbsp;프로젝트 이름</h3>
        <p>
            &nbsp;호서 대학교
            &nbsp;컴퓨터 공학부&nbsp;
            &nbsp;웹 하자(WebDo) 팀: ㅇㅎㅈ, ㅅㅎㅈ&nbsp;
            &nbsp;이메일 : 추가@바람.com&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&Copyright 2023, All Right Reserved.&nbsp;</spam>
        </p>
    </div>
</main>

<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-storage.js"></script>

<script>
    var firebaseConfig = {
    apiKey: "AIzaSyCunQjLi23bBAybA97IFMaIrXUwuJSV8mM",
    authDomain: "wepdo-7bed1.firebaseapp.com",
    databaseURL: "https://wepdo-7bed1-default-rtdb.firebaseio.com",
    projectId: "wepdo-7bed1",
    storageBucket: "wepdo-7bed1.appspot.com",
    messagingSenderId: "204948006692",
    appId: "1:204948006692:web:bbb863d7032ddbbf64b5b1",
    measurementId: "G-7NQSDSFC61"
};
firebase.initializeApp(firebaseConfig);


const db = firebase.firestore(); // db문법 소환

db.collection('post').get().then((결과) => {
        결과.forEach((doc)=>{
            console.log(doc.data());

        var list = `
                    <div class="item">
                      <img src="${doc.data().이미지}" style="border-radius: 12px; height: 200px; width:200px">
                      <h2 class="item_name"><a href="http://127.0.0.1:8000/m_view.html?id=${doc.id}">${doc.data().제목}</h2>
                      <h2 class="item_cost">${doc.data().가격}원</h2>
                      <h1 class="item_place"></h1>
                      <div class="like_chating">
                        <span class="like">관심 15</span>
                        <span>&nbsp;&nbsp;・&nbsp;&nbsp;</span>
                        <span class="chat">채팅 48</span>
                      </div>
                    </div>`;


        $('.item_row').append(list);

    });
});
</script>

</body>
</html>