		* {
            box-sizing: border-box;
            padding: 0;
        }
        body {margin: 0; background-color: white;  font-family: Arial, sans-serif;}
        li {list-style: none;}
        a { text-decoration: none;}
        button{ cursor: pointer;}
		/* 얼굴 */
		.face {
            text-align: center;
			height: 350px;
			margin: auto;
			display: flex;
            justify-content: center;
            align-items: center;
        }
		.face.f1 {
			padding : 10px;
            float: left;
            width: 50%;
			display: flex;
        }
        .face.f2 {
			padding : 10px;
            float: left;
            width: 0%;
        }
		.face.f3 {
			padding : 10px;
            float: left;
            width: 50%;
        }
        @media screen and (max-width: 600px ) {
            .face.f1, .face.f2, .face.f3{
                width: 100%;
            }
        }
		.con1 {
			display: flex;
			align-items: center;
			padding-left: 265px;
		}
        .con2 {
			display: flex;
			align-items: center;
			padding-right: 50px;
		}

		.circle {
			display: inline-block;
			overflow: hidden;
			border-radius: 50%;
			width: 200px;
			height: 200px;
			margin: 0 auto;
			background-size: cover;
			background-position: center;
			vertical-align: middle;
		}
		.circle img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		 .content-wrapper {
            margin: 0 250px; /* 왼쪽과 오른쪽 마진을 20px로 설정 */
        }
		 /* 채팅방 버튼 css */
		.button {
			background-color: #4CAF50;
			border: none;
			color: white;
			padding: 15px 30px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			border-radius: 5px;
			cursor: pointer;
			transition: background-color 0.3s ease;
		}
		.button:hover {
			background-color: #3e8e41;
		}

		 /* 상체 */
		.bone {
			height: 1000px;
			margin: auto;
			width: 95% ;
			justify-content: center;
        }
		.bone.b1 {
			height: 550px;
			padding : 20px;
            float: left;
            width: 70%;
        }
        .bone.b2 {
			height: auto;
			padding : 20px;
            float: left;
            width: 30%;
        }
        @media screen and (max-width: 600px) {
            .bone.b1, .bone.b2{
                width: 100%;
            }
        }
		.info-box {
			padding: 20px;
			width: 100%;
			height: 100%;
			flex-basis: 48%;
			background-color: #fff;
			box-shadow: 0 0 10px rgba(0,0,0,0.3);
			border-radius: 10px;
			margin-bottom: 40px
		}
		/* 내가 쓴 글 css */
		table {
			width: 100%;
			border-collapse: collapse;
		}

		th, td {
			padding: 10px;
			border-bottom: 2px solid #ccc;
		}

		.num, .count {
			text-align: center;
		}

		.title a {
			text-decoration-line: none;
			color : black
		}

		.title a:hover {
			font-weight: bold;
		}

		.writer, .date, .count {
			text-align: center;
		}
		/* 나의 정보 css */
		.content-container{
            width:100%;
            display: flex;
            align-items: center;
        }
        .info-box {
            padding: 10px;
            width: auto;
            flex-basis: 48%;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
            border-radius: 10px;
            margin-bottom: 40px
        }
        .info-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
        }
        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .button-container {
            text-align: center;
        }

        .button-container .edit-button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;

        }
        .button-container .no-button {
            padding: 10px 20px;
            background-color: red;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;

        }

        .content-a {
            width:100%;
            height:auto;
            padding-right: 5px;
            transition: width 0.5s ease;
        }
        .content-c {
            width:4%;
            height:auto;
            display: none;

        }
        .content-b {
            width:0;
            height:auto;
            display: none;
            transition: width 0.5s ease;
        }